#root {
  text-align: center;
}
.App {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  border: 0.5px solid rgba(0, 0, 0, 0.303);
  border-radius: 20px;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}
.join_btn {
  background-color: rgb(1, 106, 151);
  color: white;
}
